.venv/

data/1_cnn_image_classification/*
!data/1_cnn_image_classification/.gitkeep

data/2_rnn_image_captioning/*
!data/2_rnn_image_captioning/.gitkeep

__pycache__/
*.pyc

.ipynb_checkpoints/

spesifikasi.md
template.md.venv/

**/models/rnn_lstm/*.keras
**/models/rnn_lstm/*.png
**/models/rnn_lstm/*.csv
**/models/rnn_lstm/*.
