data/1_cnn_image_classification/*
!data/1_cnn_image_classification/.gitkeep

data/2_rnn_image_captioning/*
!data/2_rnn_image_captioning/.gitkeep

__pycache__/
*.pyc

.venv/
.ipynb_checkpoints/

spesifikasi.md
template.md

tf_env/

**/models/rnn_lstm/*.keras

/tf_env/
.vscode

BelajarTF/
env_tf/
src/1_cnn_image_classification/hasil*running/
src/1_cnn_image_classification/saved_models/

